<div class="popover" style="top:0 !important, right: 35px;">
	<div class="arrow" style="top:13px"></div>
	<h3 class="popover-title" ng-bind="title" ng-show="title"></h3>
	<div ng-show="!cargando">
		<div class="popover-content" compile="content"></div>
		<a href="site/carrito" style="background-image: url(img/ver-carrito.png); "><div style="width:100%;background-image: url(img/ver-carrito.png); background-repeat:no-repeat; text-indent: -9999px;background-size: contain;background-position: center;margin: 5% auto;">
			Ver Carrito
			
		</div></a>
	</div>
	<div style="width:400px;" ng-show="cargando">
		<div class="load-bar-inbox"></div>
	</div>
</div>
