<div class="popover" style="top:0 !important" ng-controller="LoginCtrl">
	<div class="arrow" style="margin-top:-94px"></div>
	<h3 class="popover-title" ng-bind="title" ng-show="title"></h3>
	<div class="popover-content" style="min-height:160px">
	<form name="LoginForm">
		<input style="width:100%;" type="email" name="username" placeholder="Email" ng-model="email" ng-disabled="ingresando" ng-keypress="keypressed($event)" required>
		<input style="width:100%;" type="password" name="password" placeholder="Contraseña" ng-model="password" ng-disabled="ingresando" required ng-keypress="keypressed($event)">
		<div ng-show="form.username.$touched">
			<div ng-show="form.username.$error.required">Ingresa tu Email</div>
			<span ng-show="form.username.$error.email">Ingresa un email válido</span>
		</div>
		<div ng-show="form.password.$touched">
			<span ng-show="form.password.$error.required">Ingresa tu Contraseña</span>
		</div>
		<div>{{ errorLabel }}</div>
	</form>
<!-- <div class="modal-footer"> -->
	<div ng-show="!ingresando">
		<button class="btn btn-primary" ng-click="entrar()">Entrar</button>
		<button class="btn btn-warning" ng-click="registrarse()">Registrarse</button>
	</div>
	<div style="width:400px;" ng-show="ingresando">
		<div class="load-bar-inbox"></div>
	</div>
<!-- </div> -->
	</div>
</div>
