
    <div class="product">
        <div class="prod-foto" ng-click="toSection('cont1')"><img src="img/prod-01.png">
        </div>
        <div class="prod-spec">
            <div class="prod-tit">NOMBRE DEL PRODUCTO</div>
            <div class="prod-txt">Cu epicuri electram tincidunt has. Ne ignota facete discere usu. Mei in scripta sententiae.</div>
            <div class="prod-unit">
                <div class="prod-unit-txt">Unidades</div>
                <div class="select-black">
                    <div class="styled-select black">
                        <select>
                            <option>100</option>
                            <option>50</option>
                            <option>25</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="prod-buy"><img src="img/icon-buy-01.png">
            </div>
        </div>
    </div>
    <!---->
    <div class="product">
        <div class="prod-foto"><img src="img/prod-01.png">
        </div>
        <div class="prod-spec">
            <div class="prod-tit">NOMBRE DEL PRODUCTO</div>
            <div class="prod-txt">Cu epicuri electram tincidunt has. Ne ignota facete discere usu. Mei in scripta sententiae.</div>
            <div class="prod-unit">
                <div class="prod-unit-txt">Unidades</div>
                <div class="select-black">
                    <div class="styled-select black">
                        <select>
                            <option>100</option>
                            <option>50</option>
                            <option>25</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="prod-buy"><img src="img/icon-buy-01.png">
            </div>
        </div>
    </div>
    <!---->
    <div class="product">
        <div class="prod-foto"><img src="img/prod-01.png">
        </div>
        <div class="prod-spec">
            <div class="prod-tit">NOMBRE DEL PRODUCTO</div>
            <div class="prod-txt">Cu epicuri electram tincidunt has. Ne ignota facete discere usu. Mei in scripta sententiae.</div>
            <div class="prod-unit">
                <div class="prod-unit-txt">Unidades</div>
                <div class="select-black">
                    <div class="styled-select black">
                        <select>
                            <option>100</option>
                            <option>50</option>
                            <option>25</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="prod-buy"><img src="img/icon-buy-01.png">
            </div>
        </div>
    </div>
    <!---->
    <div class="product">
        <div class="prod-foto"><img src="img/prod-01.png">
        </div>
        <div class="prod-spec">
            <div class="prod-tit">NOMBRE DEL PRODUCTO</div>
            <div class="prod-txt">Cu epicuri electram tincidunt has. Ne ignota facete discere usu. Mei in scripta sententiae.</div>
            <div class="prod-unit">
                <div class="prod-unit-txt">Unidades</div>
                <div class="select-black">
                    <div class="styled-select black">
                        <select>
                            <option>100</option>
                            <option>50</option>
                            <option>25</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="prod-buy"><img src="img/icon-buy-01.png">
            </div>
        </div>
    </div>
    <!---->
    <div class="product">
        <div class="prod-foto"><img src="img/prod-01.png">
        </div>
        <div class="prod-spec">
            <div class="prod-tit">NOMBRE DEL PRODUCTO</div>
            <div class="prod-txt">Cu epicuri electram tincidunt has. Ne ignota facete discere usu. Mei in scripta sententiae.</div>
            <div class="prod-unit">
                <div class="prod-unit-txt">Unidades</div>
                <div class="select-black">
                    <div class="styled-select black">
                        <select>
                            <option>100</option>
                            <option>50</option>
                            <option>25</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="prod-buy"><img src="img/icon-buy-01.png">
            </div>
        </div>
    </div>
    <!---->
    <div class="product">
        <div class="prod-foto"><img src="img/prod-01.png">
        </div>
        <div class="prod-spec">
            <div class="prod-tit">NOMBRE DEL PRODUCTO</div>
            <div class="prod-txt">Cu epicuri electram tincidunt has. Ne ignota facete discere usu. Mei in scripta sententiae.</div>
            <div class="prod-unit">
                <div class="prod-unit-txt">Unidades</div>
                <div class="select-black">
                    <div class="styled-select black">
                        <select>
                            <option>100</option>
                            <option>50</option>
                            <option>25</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="prod-buy"><img src="img/icon-buy-01.png">
            </div>
        </div>
    </div>
    <!---->
    <div class="product">
        <div class="prod-foto"><img src="img/prod-01.png">
        </div>
        <div class="prod-spec">
            <div class="prod-tit">NOMBRE DEL PRODUCTO</div>
            <div class="prod-txt">Cu epicuri electram tincidunt has. Ne ignota facete discere usu. Mei in scripta sententiae.</div>
            <div class="prod-unit">
                <div class="prod-unit-txt">Unidades</div>
                <div class="select-black">
                    <div class="styled-select black">
                        <select>
                            <option>100</option>
                            <option>50</option>
                            <option>25</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="prod-buy"><img src="img/icon-buy-01.png">
            </div>
        </div>
    </div>
    <!---->
    <div class="product">
        <div class="prod-foto"><img src="img/prod-01.png">
        </div>
        <div class="prod-spec">
            <div class="prod-tit">NOMBRE DEL PRODUCTO</div>
            <div class="prod-txt">Cu epicuri electram tincidunt has. Ne ignota facete discere usu. Mei in scripta sententiae.</div>
            <div class="prod-unit">
                <div class="prod-unit-txt">Unidades</div>
                <div class="select-black">
                    <div class="styled-select black">
                        <select>
                            <option>100</option>
                            <option>50</option>
                            <option>25</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="prod-buy"><img src="img/icon-buy-01.png">
            </div>
        </div>
    </div>
    <!---->
    <div class="product">
        <div class="prod-foto"><img src="img/prod-01.png">
        </div>
        <div class="prod-spec">
            <div class="prod-tit">NOMBRE DEL PRODUCTO</div>
            <div class="prod-txt">Cu epicuri electram tincidunt has. Ne ignota facete discere usu. Mei in scripta sententiae.</div>
            <div class="prod-unit">
                <div class="prod-unit-txt">Unidades</div>
                <div class="select-black">
                    <div class="styled-select black">
                        <select>
                            <option>100</option>
                            <option>50</option>
                            <option>25</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="prod-buy"><img src="img/icon-buy-01.png">
            </div>
        </div>
    </div>
    <!---->
    <div class="product">
        <div class="prod-foto"><img src="img/prod-01.png">
        </div>
        <div class="prod-spec">
            <div class="prod-tit">NOMBRE DEL PRODUCTO</div>
            <div class="prod-txt">Cu epicuri electram tincidunt has. Ne ignota facete discere usu. Mei in scripta sententiae.</div>
            <div class="prod-unit">
                <div class="prod-unit-txt">Unidades</div>
                <div class="select-black">
                    <div class="styled-select black">
                        <select>
                            <option>100</option>
                            <option>50</option>
                            <option>25</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="prod-buy"><img src="img/icon-buy-01.png">
            </div>
        </div>
    </div>
    <!---->
    <div class="product">
        <div class="prod-foto"><img src="img/prod-01.png">
        </div>
        <div class="prod-spec">
            <div class="prod-tit">NOMBRE DEL PRODUCTO</div>
            <div class="prod-txt">Cu epicuri electram tincidunt has. Ne ignota facete discere usu. Mei in scripta sententiae.</div>
            <div class="prod-unit">
                <div class="prod-unit-txt">Unidades</div>
                <div class="select-black">
                    <div class="styled-select black">
                        <select>
                            <option>100</option>
                            <option>50</option>
                            <option>25</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="prod-buy"><img src="img/icon-buy-01.png">
            </div>
        </div>
    </div>
    <!---->
    <div class="product">
        <div class="prod-foto"><img src="img/prod-01.png">
        </div>
        <div class="prod-spec">
            <div class="prod-tit">NOMBRE DEL PRODUCTO</div>
            <div class="prod-txt">Cu epicuri electram tincidunt has. Ne ignota facete discere usu. Mei in scripta sententiae.</div>
            <div class="prod-unit">
                <div class="prod-unit-txt">Unidades</div>
                <div class="select-black">
                    <div class="styled-select black">
                        <select>
                            <option>100</option>
                            <option>50</option>
                            <option>25</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="prod-buy"><img src="img/icon-buy-01.png">
            </div>
        </div>
    </div>


