<div id="cont2">
    <div class="cont2-row1">
        <div class="artesanias">
            <img src="../web/img/subastas-01.jpg">
            <div class="sub-tri"></div>
            <div class="sub-box">
                <div class="subastas-tit">ARTESANÍAS</div>
                <div class="subastas-txt">Cu epicuri electram tincidunt has. Ne ignota facete discere usu. Mei in scripta sententiae. An sed nullam eirmod equidem.</div>
            </div>
        </div>
        <div class="subastas">
            <div class="sub-tit">SUBASTAS</div>
            <div class="sub-border"></div>
            <div class="sub-txt">Lorem ipsum dolor sit amet, quo impedit rationibus ea, vero graeco intellegat ex ius. Epicuri efficiantur ex his, dicit iriure vix ea. Deseruisse posidonium sed an. Et vix habemus dissentiet, minim pericula splendide vel ad. An iuvaret reprehendunt est.</div>
            <a href="#cont1">
                <div class="sub-btn"></div>
            </a>

        </div>
        <div class="collares">
            <img src="../web/img/subastas-02.jpg">
            <div class="sub-tri"></div>
            <div class="sub-box">
                <div class="subastas-tit">COLLARES</div>
                <div class="subastas-txt">Cu epicuri electram tincidunt has. Ne ignota facete discere usu. Mei in scripta sententiae. An sed nullam eirmod equidem.</div>
            </div>

        </div>

    </div>
    <div class="cont2-row2">
        <div class="bisuteria">
            <img src="../web/img/subastas2-01.jpg">
            <div class="sub-tri"></div>
            <div class="sub-box">
                <div class="subastas-tit">ARTESANÍAS</div>
                <div class="subastas-txt">Cu epicuri electram tincidunt has. Ne ignota facete discere usu. Mei in scripta sententiae. An sed nullam eirmod equidem.</div>
            </div>
        </div>
        <div class="sombreros">
            <img src="../web/img/subastas2-02.jpg">
            <div class="sub-tri"></div>
            <div class="sub-box">
                <div class="subastas-tit">ARTESANÍAS</div>
                <div class="subastas-txt">Cu epicuri electram tincidunt has. Ne ignota facete discere usu. Mei in scripta sententiae. An sed nullam eirmod equidem.</div>
            </div>
        </div>
        <div class="pulseras">
            <img src="../web/img/subastas2-03.jpg">
            <div class="sub-tri"></div>
            <div class="sub-box">
                <div class="subastas-tit">ARTESANÍAS</div>
                <div class="subastas-txt">Cu epicuri electram tincidunt has. Ne ignota facete discere usu. Mei in scripta sententiae. An sed nullam eirmod equidem.</div>
            </div>
        </div>
        <div class="bolsos">
            <img src="../web/img/subastas2-04.jpg">
            <div class="sub-tri"></div>
            <div class="sub-box">
                <div class="subastas-tit">ARTESANÍAS</div>
                <div class="subastas-txt">Cu epicuri electram tincidunt has. Ne ignota facete discere usu. Mei in scripta sententiae. An sed nullam eirmod equidem.</div>
            </div>
        </div>
    </div>

</div>